 <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5" *ngIf="caddy.items">

                <table class="table table-bordered text-center mb-0" >


                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Product Id</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle"  > 
                        <!-- loop here -->
                        <tr *ngFor="let item of products">

                            <td class="align-middle"> {{item.id}}</td>
                            <td class="align-middle"> {{item.name}}</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" value="{{item.quantity|number:'0.2'}}">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">{{item.price|number:'0.2'}}</td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary"  (click)="onRemoveProductFromCaddy(item)"   ><i class="fa fa-times"></i></button></td>
                        </tr>
                    
                      






                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <!-- cart list -->
                <form class="mb-5" action="">
                    <div class="input-group">
                                  <div class="panel panel-default">
                            <div class="panel-body">
                                <ul class="nav nav-pills">
                                <li>
                                    <button (click)="onAddCaddy()" class="btn btn-success">
                                    <span class="glyphicon glyphicon-plus pull-right">Add new cart</span>
                                    </button>
                                </li>
                                <li [ngClass]="c.name==caddyService.currentCaddyName?'active':''" *ngFor="let c of caddyService.listCaddies">
                                    <a class="btn" (click)="onSelectCaddy(c)">{{c.name}}</a>
                                </li>
                                </ul>
                            </div>
                            </div>

  
                    </div>
                </form>

          
             

                
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">{{getTotal()|number:'0.2'}} DH</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">0 DH</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">{{getTotal()|number:'0.2'}} DH</h5>
                        </div>
                        <button class="btn btn-block btn-primary my-3 py-3" (click)="onNewOrder()">Proceed To Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->


