
    <!-- Shop Detail Start -->

    <div class="container-fluid py-5" *ngIf="currentProduct && mode==0 " >
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="{{ this.catalService.host + '/photoProduct/' + currentProduct.id }}" alt="Image">
                        </div>
                   
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">{{currentProduct.name}}</h3>
                <div class="d-flex mb-3">
                    <div class="text-primary mr-2">
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star-half-alt"></small>
                        <small class="far fa-star"></small>
                    </div>
                    <small class="pt-1">(50 Reviews)</small>
                </div>
                <h3 class="font-weight-semi-bold mb-4">{{currentProduct.price}} DH</h3>
                <p class="mb-4">{{currentProduct.description}}</p>
              
            
                <div class="d-flex align-items-center mb-4 pt-2">
                    <form  #f="ngForm"  (ngSubmit)="onAddProductToCaddy(currentProduct)"  class="input-group quantity mr-3" style="width: 130px;">
                     
                        <input type="number" name="quantity" [(ngModel)]="currentProduct.quantity" class="form-control bg-secondary text-center" placeholder="1">
                     
                    </form>
                    <button type="submit" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>   
                    <button *ngIf="this.authService.isAdmin()" style="margin-left:10px ;" class="btn btn-primary px-3"><i class="fa fa-info-circle mr-1"></i> Edit Product info</button>
                </div>
                <div class="d-flex pt-2">
                    <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <!-- Shop Detail End -->


  

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
